@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  font-size: 17px;
}

body {
  @apply bg-white text-slate-900;
}

a {
  @apply text-blue-700 hover:text-blue-800;
}
